<%-include("header.ejs")%>

<div class="container card card-body my-5">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <span class=""><img src="/images/o3.png" height="70" width="auto"></span>
            <!-- <h1>Oxypulse Invoice</h1> -->
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <p><strong>Customer Name : </strong> <span id="date">Varad</span></p>
            <p><strong>Address : </strong> <span id="date">Nagar</span></p>
           
        </div>

        <div class="col-6 float-end">
            
            <p class="float-end"><strong>Date:</strong> <span id="date">[Insert Date]</span></p>
        </div>
    </div>
    <table class="table table-bordered mt-3">
        <h3 class="text-center">Invoice</h3>
        <thead class="table-primary">
            <tr>
                <th>SrNo</th>
                <th>Order Product</th>
                <th>Route</th>
                <th>Vehicle No.</th>
                <th>Return Cylinders</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[Insert Route]</td>
                <td>[Insert Vehicle No.]</td>
                <td>[Insert Qty]</td>
                <td>[Insert Product Name/Qty]</td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-4">
        <div class="col-12">
            <p><strong>Notes:</strong></p>
            <ul>
                <li>Please verify the return cylinder count upon receipt.</li>
                <li>For any discrepancies, contact [Insert Contact Information].</li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-end">
            <p><strong>Authorized Signature:</strong></p>
            <div style="border-top: 1px solid #000; width: 200px; margin-left: auto;"></div>
        </div>
    </div>
</div>
<%-include("footer.ejs")%>