<%-include("header.ejs")%>
    <div class="container bg-white mt-4 p-4">

        <h3>ADD STOCK</h3>

        <form action="/save_stock" method="post" enctype="multipart/form-data" id="myform">
            <input type="hidden" name="stock_unit" class="form-control" value="0">
            <div class="row">
                <div class="col-md-6">
                    <label class="my-3">Stock Name</label>
                    <input type="text" name="stock_name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="my-3">Stock Quantity (KG)</label>
                    <input type="number" name="stock_qty" class="form-control">
                </div>
                
                <div class="col-md-6">
                    <label class="my-3">Stock Date</label>
                    <input type="date" name="stock_date" class="form-control">
                </div>
                <div class="col-md-12 my-3 text-center">
                    <button class="btn btn-primary" onclick="submitform()">Save Stock</button>
                </div>
            </div>
        </form>

    </div>

    <script>
        function submitform(){
        let r=confirm('Add new Stock ?');
        if(r==true){
            document.getElementById("myform").submit();
        }
        }
        </script>
<%-include("footer.ejs")%>