<%-include("header.ejs")%>

    <div class="container card card-body py-3 my-3">
        <h1>Add Customer</h1>

        <form action="/save_cutomer" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label class="my-3">Customer Name</label>
                    <input type="text" class="form-control" name="cust_name" placeholder="Enter Customer Name">
                </div>

                <div class="col-md-6">
                    <label class="my-3">Customer Mobile</label>
                    <input type="number" class="form-control" name="cust_mobile" placeholder="Enter Customer Mobile">
                </div>

                <div class="col-md-12">
                    <label class="my-3">Customer Address</label>
                    <textarea placeholder="Enter Customer Address" name="cust_add" class="form-control"></textarea>
                </div>
                
                <div class="col-md-12 my-3">
                    <button class="btn btn-primary float-end">Save Customer</button>

                </div>

            </div>
        </form>
    </div>
    
<%-include("footer.ejs")%>