<%-include('header.ejs')%>
<div class="container">
    <div class="row p-5 align-items-center ">
        <h3 >ADD NEW ADMIN</h3>
        <a href="/admin-list" class="btn btn-primary float-end w-25 mb-3"><i class="fa fa-list"></i> Admin List</a>
        <div class="col-md-12 p-4  rounded shadow mt-1 bg-white">
        <div class="row">

            <div class="col-md-4 mb-3">
            <form method="post" enctype="multipart/form-data" action="/save-admin" id="myform">

     
                <label class="mb-2">Name* :</label>
                <input type="text" required name="name" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label class="mb-2">Image* :</label>
                <input type="file" required name="img" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label class="mb-2">Contact Number* :</label>
                <input type="number" required name="number" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label class="mb-2">Set Password* :</label>
                <input type="text" required name="pass" class="form-control">
            </div>
            <div class="col-md-12 text-center mt-3">
                <button class="btn btn-primary" type="button" onclick="submitForm()" >Save Admin</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
function submitForm(){
let r=confirm('Add new Admin ?');
if(r==true){
    document.getElementById("myform").submit();
}
}
</script>
<%-include('footer.ejs')%>