<%-include('header.ejs')%>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 rounded shadow bg-light p-4">
            <h3>ADD VEHICAL</h3>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <form method="post" enctype="multipart/form-data" id="myform" action="/save-vehical">

                
                    <label class="mb-2">Vehical Image* :</label>
                    <input type="file" class="form-control" accept="image/*" required name="img"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="mb-2">Vehical Number* :</label>
                    <input type="text" class="form-control"  placeholder="XX  XX  XXXX" required name="number"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="mb-2">Vehical Name* :</label>
                    <input type="text" class="form-control"   required name="name"/>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <button class="btn btn-primary" type="submit" >Save vehical</button>
                </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
  
    </script>
<%-include('footer.ejs')%>