<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   


    <input type="number" id="number" placeholder="Your Number" >
    <input type="text" id="password" placeholder="Your Password" >
    <span id="warn" class="text-danger"></span>
    <button type="submit" onclick="sendData()" >Save</button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function sendData(){
     
            if(document.getElementById("number").value!=""&&document.getElementById("password").value!=""){
        obj={
            "name":'pratik',
            "pass":'hje'
        }
        $.ajax(
        {
            "method":"post",
            "url":"/admin-login",
            "data":obj
        }

        ).done((response)=>{
          if(response==0){
            document.getElementById("warn").innerText="No admin found";
          }
          else{
            location.href="/";
          }
        }
        )
    }
    else{
    document.getElementById("warn").innerText="Please fill details";
    }
    }

    </script>

</body>
</html>